<div class="row">
  <div class="large-12 columns">
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"><hr></div>

  <div class="large-5 columns">
    <%= cl_image_tag(@user.picture, :width => 400, :height => 400, :crop => :fill) %>
    <hr>
    <%= link_to "Edit Your Profile", edit_user_path(@user), class: "small button" %>
  </div>

  <div class="large-5 columns">
    <br>

    <ul class="no-bullet">
      <li>email: <%= @user.email %></li>
      <li>phone: <%= @user.phone %></li>
    </ul>

    <div class="panel">
      <h5>Send restaurant to a friend</h5>
      <h6 class="subheader">They would love to hear from you, you attractive person you.</h6>
      <%= link_to "View Restaurants", root_path, class: "small button"  %>
    </div>
  </div>
</div>


<div class="small-12 columns">
  <div class="row">
    <hr>
    <%= link_to "given", "#", class: "profile-filter-tag" %>
    <%= link_to "received", "#", class: "profile-filter-tag" %>
  </div>


  <br>
  <div class="row">
    <div class="given-tacos-container">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 gifts-container">
      <%= render "gifts/given_gift" %>
    </ul>
    </div>
    <div class="received-tacos-container">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 gifts-container">
      <%= render "gifts/received_gift" %>
    </ul>
    </div>
  </div>
</div>

<%= cloudinary_js_config %>