<p id="notice"><%= notice %></p>

<br><h1><%= @user.first_name %>'s Profile</h1>
<h2>Your Un-Redeemed Gifts </h2>
<ul><% @user.unredeemed_gifts.each do |gift| %>
  <li><b>Meal</b>: <%= gift.name %>...<b>Giver</b>: <%= gift.giver.email %>...<b>Restaurant</b>: <%= gift.menu_item.restaurant.name %>...<b>Secret Redemption Code</b>: <%= gift.passphrase %></li>
  <%end%>
</ul>


<br><h2> Your Redeemed Gifts </h2>
<ul><% @user.redeemed_gifts.each do |gift| %>
  <li><b>Meal:</b> <%= gift.name %>...<b>Giver:</b> <%= gift.giver.email %>...<b>Restaurant:</b> <%= gift.menu_item.restaurant.name %></li>
<%end%>

</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
