<div class="row low-content add_content_padding">
  <div class= "small-12 column">
<% if flash[:error] %>

  <h1><%=flash[:error]%></h1>
  <hr>

<% else  %>

  <% if flash[:notice] %>
   <h1><%=flash[:notice]%></h1>
   <hr>
  <% end %>

  <div class="success-panel text-center">
    <p>Redemption Confirmed</p>
  </div>


  <% if @gift.charitable %>
    <h4 class="text-center">
    Please make a cup of "<%=@gift.name%>" to brighten up this person's day. Thank You!
    <h4>
  <% else %>
    <h4 class="text-center">
    Please make a cup of <%=@gift.name%> and brighten up <span class="bold"><%=@gift.receiver.full_name%>'s</span> day!
    <h4>
  <% end %>

<% end %>
<hr>
<%= link_to "Back to Profile", @restaurant, :class =>"button expanded small-8 small-offset-2 medium-4 medium-offset-4 large-2 large-offset-5 columns text-centered" %>
  </div>
</div>