<% if flash[:error] %>
  <h1><%=flash[:error]%></h1>
<% elsif flash[:notice] %>
  <h1><%=flash[:notice]%></h1>

  <h2>Here are the details of your purchase: </h2>

  <% if @gift.receiver %>
    <p>Sent To: <%=@gift.receiver.email%></p>
  <% else %>
    <p>Sent To: <%=@gift.phone%></p>
  <% end %>

  <p>Good for one <%=@gift.name%> at <%=@restaurant.name%></p>

  <p>Pick up at: <%=@restaurant.address %></p>
<% end %>