<h1>Send a Meal from <%=@restaurant.name%>!</h1>

<%= form_for @gift, url: restaurant_gifts_path(@restaurant) do |f| %>
  <%= f.label :receiver, "Search for user: " %>
  <%= f.text_field :receiver %><br/>
  <%= @gift.errors[:reciever].first %>

  <%= f.label :phone, "Enter phone number: "%><br/>
  <%= f.text_field :phone %><br/>
  <%= @gift.errors[:phone].first %>

  <%= f.label :menu_item, "Menu Items: "%>
  <%= f.collection_select(:menu_item, @menu_items, :id ,:name) %>
  <%= @gift.errors[:menu_item].first %>

  <%= f.label :message, "Include a personal note: "%><br/>
  <%= f.text_area :message, size: "30x6"  %><br/>

  <%= f.submit "Send" %>
<% end %>