<div class="row">
  <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
    <br>
    <h1>Send a meal from <%=@restaurant.name%>!</h1>

    <%= form_for @gift, url: restaurant_gifts_path(@restaurant) do |f| %>
    <%= f.label :receiver, "Search for user: " %>
    <%= f.collection_select(:receiver, @receivers, :email ,:full_name, include_blank: true)  %>
    <%= @gift.errors[:reciever].first %>

    <p>OR</p>

    <%= f.text_field :phone, placeholder: "Enter phone number" %><br/>
    <%= @gift.errors[:phone].first %>

    <%= f.label :menu_item, "Menu Items: "%>
    <%= f.collection_select(:menu_item, @menu_items, :id ,:combined_value, include_blank: true)  %>
    <%= @gift.errors[:menu_item].first %>

    <%= f.text_area :message, size: "30x6", placeholder: "Include a personal note!"  %><br/>
    <div class = "Payment">Payment Information </div>
    <input id="cc_num" name="cc[num]" type="text" placeholder="cc number: (XXXXXXXXXXXXXXXX)"/>
    <input id="cc_exp_date" name = "cc[exp_date]" placeholder="cc Expiration Date(XX/XX)", type="text" /><br>

    <br>

    <%= f.submit "Send a meal", :class=>"button round" %>
    <% end %>
  </div>
</div>