<h1>Send Some Tacos from <%=@restaurant.name%>!</h1>

<%= form_for @gift, url: restaurant_gifts_path(@restaurant) do |f| %>
  <%= f.label :receiver, "Send to: " %>
  <%= f.text_field :receiver %><br/>
  <%= f.label :menu_item, "Menu Items: "%>
  <%= f.collection_select(:menu_item, @menu_items, :id ,:name)%>
  <%= f.label :message, "Include a personal message: "%><br/>
  <%= f.text_area :message, size: "30x6"  %><br/>
  <%= f.submit "Send" %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', gifts_path %>
