<li><figure>
  <%= link_to cl_image_tag(restaurant.picture, :width => 500, :height => 400, :crop => :fill ), @restaurants %>
  <figcaption>
    <h4><%= link_to restaurant.name, restaurant %></h4>
    <span>
      <% if restaurant.neighborhood %>
        <%= link_to restaurant.neighborhood, restaurants_neighborhood_path, class: "tag-container"%>
      <% end %>
      <% if restaurant.city %>
        <%= link_to restaurant.city, restaurants_city_path, class: "tag-container"%>
      <% end %>
    </span>
    <br>
  </figcaption>
</figure></li>
# <%= link_to 'select this restaurant', restaurant %>