<li><figure>
  <%= link_to image_tag(restaurant.picture), restaurant %>
  <figcaption>
    <h4><%= restaurant.name %></h4>
    <span>
      <% if restaurant.neighborhood %>
        <%= link_to restaurant.neighborhood, restaurant_neighborhood_path, class: "tag-container"%>
      <% end %>
      <% if restaurant.city %>
        <%= link_to restaurant.city, restaurant_city_path, class: "tag-container"%>
      <% end %>
    </span>
    <br>
  </figcaption>
</figure></li>
<%= link_to 'select this restaurant', restaurant %>