
<div class="row">
  <div class="small-12 medium-6  columns">
    <h2 class="subheader">Address</h2>
    <ul class="vcard">
      <li><%=@restaurant.address%></li>
    </ul>
    <div class="show-for-medium-up">
      <div style="height:350px;width:100%" id="map"></div>
      <input id="address" type="hidden" value="<%=@restaurant.address%>">
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <h2 class="subheader">Menu Items</h2>
    <br><br><br>
    <ul class="accordion" data-accordion role="tablist">
    <% @restaurant.menu_items.each_with_index do |item, i| %>
      <% i += 1 %>
      <li class="accordion-navigation">
        <a href="#panel<%=i%>d" role="tab" id="panel<%=i%>d-heading" aria-controls="panel<%=i%>d" class="gift-form-dropdown menu-item-id-<%=item.id%>"><%= render partial: "menu_items/display_item" ,locals: {menu_item: item} %></a>
        <div id="panel<%=i%>d" class="gift-form content" role="tabpanel" aria-labelledby="panel<%=i%>d-heading">
        </div>
      </li>
    <%end%>
    <br>
    <div class="row">
  <div class="small-12 columns">
    <%= link_to "Buy a meal for a friend", new_restaurant_gift_path(@restaurant), :class=>"button expand" %>
  </div>
</div>