<div class="row">
  <div class='show-for-medium-up medium-12 columns'>
  <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag "restaurant_busy.jpg", class:"banner"%>
      <div class="orbit-caption">
        Step 1. Choose a Restaurant
      </div>
    </li>
    <li class="active">
      <%= image_tag "tacos-de-cabeza.jpg", class:"banner"%>
      <div class="orbit-caption">
       Step 2. Buy a meal for a friend
      </div>
    </li>
    <li>
      <%= image_tag "chef.jpg", class:"banner"%>
      <div class="orbit-caption">
        Step 3. Your friend gets to pick up the meal from the restaurant :)
      </div>
    </li>
  </ul>
  </div>
</div>


<div class="row">
  <div class='small-12 columns tags-topbar'>
    <%= link_to "All", root_url, class: "tag-container"%>
    <%= link_to "Chicago", cafes_city_path, class: "tag-container"%>
    <%= link_to "Cicero", cafes_city_path, class: "tag-container"%>
    <%= link_to "Berwyn", cafes_city_path, class: "tag-container"%>
  </div>
</div>

<div class='row'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 restaurants-container">
    <%= render @restaurants %>
  </ul>
</div>


<%= link_to 'New Restaurant', new_restaurant_path %>

