<h1><%=@restaurant.name%></h1>

<h2>Menu Items</h2>

<% if @restaurant.owner?(current_restaurant) %>

  <ul>
    <%= render @menu_items %>
  </ul>

  <h3>Add a new item</h3>
    <%= render partial:"menu_items/new", locals:{menu_item: @menu_item, restaurant: @restaurant} %>

<% else %>
  <ul>
    <%= render partial:"menu_items/display_item", collection: @menu_items, as: :menu_item %>
  </ul>

  <%= link_to "Buy a meal for a friend", new_restaurant_gift_path(@restaurant) %>
<% end %>